<div class="card-conflict text-center">
  <div class="card-header">
    <i class="fa-solid fa-triangle-exclamation"></i>
  </div>
  <div class="card-body">
    <h5 class="card-title">Conflict Alert</h5>
    <p>From: <%= @shift.start_time.hour %>:00 - To: <%= @shift.end_time.hour %>:00</p>
    <p class="card-text">
      <% @shift.users.each do |user| %>
        <%= user.name %><br>
      <% end %>
    </p>
    <a href="#" class="btn btn-primary">Fix</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
