<% if shift.assignments.count == 3 %>
  <p class="card-green p-2"><i class="fa-solid fa-check"></i> No Conflict</p>
<% else %>
  <div class="card-red p-2"><i class="fa-solid fa-triangle-exclamation fa-fade"></i> Conflict</div>
<% end %>
