<% User.all.each do |user| %>
  <ul class="notification draggable-item" data-id="<%= user.id %>">
    <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
    <div class="notification-content text-center">
      <h5><%= user.name %></h5>
    </div>
  </ul>
 <% end %>
