<h1>This is shift show.html</h1>
<p> View the details of shift, so that I can see conflicts/problems</p>
<p> Manager click on specific day 'day_id', and click on specific shift 'shift_id' to land on this page </p>


<%= @shift.start_time %>
<br>
<%= @shift.end_time %>
