


<div class="container my-5">
    <div class=""><h1>Team Profile <i class="fa-solid fa-people-group"></i></h1></div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="profile-card border border-dark">
                <div class="profile-img">
                    <img src="https://res.cloudinary.com/dn2mnawil/image/upload/v1678073512/Shift%20better%20user%20profile%20pics/80834097_qjxoyt.jpg" alt="image"/>
                    <div class="over-layer">
                        <p>Description</p>
                    </div>
                </div>
                <div class="profile-content border border-dark">
                    <h3 class="title">Anik Dutta <br> <span>Frontend Developer</span></h3>
                    <ul class="social-link">

                         <li><a href="https://www.linkedin.com/in/anikdutta/"><i class="fab fa-linkedin"></i></a></li></a>

                         <li><a href="https://github.com/anikdutta001"><i class="fab fa-github"></i></a></li></a>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="profile-card border border-dark">
                <div class="profile-img">
                    <img src="https://res.cloudinary.com/dn2mnawil/image/upload/v1678248003/Shift%20better%20user%20profile%20pics/P_20230308_124932_nms5br.jpg" alt="image"/>
                    <div class="over-layer">
                        <p>Description</p>
                    </div>
                </div>
                <div class="profile-content border border-dark">
                    <h3 class="title">Grant Hall <br> <span>Tech Lead</span></h3>
                    <ul class="social-link">
                        <li><a href=""><i class="fab fa-linkedin"></i></a></li></a>

                         <li><a href="https://github.com/grantcko"><i class="fab fa-github"></i></a></li></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="profile-card border border-dark">
                <div class="profile-img">
                    <img src="https://res.cloudinary.com/dn2mnawil/image/upload/v1678073499/Shift%20better%20user%20profile%20pics/121886405_wm7rea.jpg" alt="image"/>
                    <div class="over-layer">
                        <p>Description</p>
                    </div>
                </div>
                <div class="profile-content border border-dark">
                    <h3 class="title">Tan Rungthip <br> <span>Backend Developer</span></h3>
                    <ul class="social-link">
                        <li><a href="https://www.linkedin.com/in/rungthip-c-24937b230/"><i class="fab fa-linkedin"></i></a></li></a>
                         <li><a href="https://github.com/Tanrungthip"><i class="fab fa-github"></i></a></li></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="profile-card border border-dark">
                <div class="profile-img">
                    <img src="https://res.cloudinary.com/dn2mnawil/image/upload/v1678073467/Shift%20better%20user%20profile%20pics/117798839_eiqm5g.jpg" alt="image"/>
                    <div class="over-layer">
                        <p>Description</p>
                    </div>
                </div>
                <div class="profile-content border border-dark">
                    <h3 class="title">Taka Nakagami<br> <span>Project Manager</span></h3>
                    <ul class="social-link">
                        <li><a href="https://www.linkedin.com/in/takaaki-nakagami-a5866154/"><i class="fab fa-linkedin"></i></a></li></a>
                         <li><a href="https://github.com/Boiseboy-T"><i class="fab fa-github"></i></a></li></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
