<div class= "move-to-right">
  <div class="card my-2">
    <div class="card-body">
      About US!! Nice to meet you all
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1611834906989-84a0cc42e6bf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Anik Dutta</h5>
          <p class="card-text">From Bangladesh to Japan, I just moved to bigger and nice house for everyone to PARTY!!.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1512090421650-1ba94830f7b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Grant Hall aka G-Money$</h5>
          <p class="card-text">From America and travelling all over the world and settled here in Japan. Not married yet and looking for the ONE!! Check out my soundcloud. </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Taka Nakagami</h5>
          <p class="card-text">Japanese Super duper Sexy model. I like to give out snacks to everyone. </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1465145498025-928c7a71cab9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tan Rungthip
          </h5>
          <p class="card-text">Representing Ms Thailand, I am SEXY full stack web developer who know everything.</p>
        </div>
      </div>
    </div>
  </div>
</div>
