<div
  class="bg-image card shadow-1-strong  <%= 'd-none' unless @days.first.assignments.empty?%>"
  style="background-color: #fbb948;"
>
  <div class="card-body text-black" data-controller= "loading-spin" >
    <h5 class="card-title text-uppercase badge bg-primary text-wrap" style="width: 20rem;"> monthly schedule</h5>
    <p class="card-text">
      <li class="text-start h5">Employee have to take 9 mandatory daysoff.</li>
      <li class="text-start h5">Employee can work up to 6 days max and have to take a dayoff.</li>
      <li class="text-start h5">If employee assigned to late shift, the employee is not able to assigned to early shift next day.</li>
    </p>
    <form action="/days" method="post"><button class="generate-btn"  data-action="click->loading-spin#insertspin" data-loading-spin-target="load" >Click to Generate Schedule</button></form>
  </div>
</div>
