<div class="list">
  <p><%= form_with url: days_path, method: :get, class: "d-flex my-3 searchbutton" do %>
      <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a Team Member" %>
      <%= submit_tag "Search", class: "btn btn-dark" %>
    <% end %> </p>
  <% users.each do |user| %>
    <div class="notificationsearch d-flex justify-content-between ">
      <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-search" />
      <div class="notification-content text-center">
        <div id="name-search"> <%= user.name %> <i class="fa-sharp fa-solid fa-circle-check"></i></div>
      </div>
    </div>
  <% end %>
</div>
