<% truths = [] %>
<% nonzero = [] %>
<% uniqs = [] %>
<%  Shift.all.each { |shift| truths << (shift.assignments.count == 3) } %>
<%  Shift.all.each { |shift| truths << (shift.assignments.count > 0) } %>
<%  Shift.all.uniq { |shift| uniqs << (shift.assignments.count) } %>
<%# ary.uniq{|x| x.user_id} %>
<% if truths.exclude?(false) %>
  <p>ALL SCHEDULES FILLED!</p>
<% elsif truths.include?(false) && truths.include?(true) %>
   <p><i class="fa-solid fa-triangle-exclamation"></i> ISSUES WITH SOME SHIFTS</p>
<% elsif truths.exclude?(true) %>
  <p>NO SCHEDULES YET!</p>
<% else %>
  <p>Sorry! Having troubles. Try reloading...</p>
<% end %>
