<div data-controller="sortable" data-method="create">
  <% User.all.each do |user| %>
    <ul class="notification draggable-item" data-id="<%= user.id %>">
      <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
      <div class="notification-content text-center">
        <p><%= user.name %></p>
      </div>
    </ul>
  <% end %>
</div>
