.bg-heading {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  border-radius: 5px;
  --bs-bg-opacity: 1;
}

.text-gray{
  color:#74777a;
}

.progress {
  --bs-progress-height: 10px;
}
