.card-category {
  background-size: cover;
  background-position: center;
  height: 130px;
  width: 100%;
  // height: 136px;
  // width: 136px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 16px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin: 0px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  position:relative;
}

#small-card-category{
  height: 30px;
}

.date-corner {
  position: absolute;
  top: 7px;
  left: 8px;
  font-size: 14px;
}

.status-corner-smaller {
  position: absolute;
  color: $orange;
  top: 7px;
  right: 8px;
  font-size: 14px;
  font-kerning: normal;
  text-shadow: none;
}

.status-corner {
  position: absolute;
  color: $orange;
  top: 10px;
  left: 80px;
  font-size: 13px;
  font-kerning: normal;
  text-shadow: none;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  // grid-gap: 16px;
}

.link-stretch {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;

  /* fixes overlap error in IE7/8,
      make sure you have an empty gif */
  background-image: url('empty.gif');
}

.placeholder-grey {
  // border-style: none;
  background-color: #ebf4ff;
}

.shifts {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 4px;
}

.shift-empty {
  color: rgb(112, 112, 112);
  background-color: rgb(231, 231, 231);
  margin-top: 25px;
  margin-bottom: 25px;
}

.shift-invisible {
  color: transparent;
  box-shadow: none;
  text-shadow: none;
}

.shift-warning {
  color: rgb(255, 255, 255);
  background-color: #ff5151;
}

.shift-good {
  color: $gray;
  background-color: $light-gray;
}

.shift-work {
  color: rgb(255, 255, 255);
  background-color: rgb(47, 123, 255);
}

#empty-day {
  margin-top: 24px;
  margin-bottom: 24px;
}

.empty-shift-warning {
  position: absolute;
  font-size: 12px;
  top: 7px;
  left: 35px;
  background-color: rgb(255, 231, 231);
  color: rgb(168, 0, 0);
  padding-left: 3px ;
  padding-right: 3px ;
}

.employee-calendar-center {
  top: 350px;
}

.employee-calendar-layout {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

.calendar-content.hidden  {
  opacity: 0.3;
}
