.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  text-align: Center;
  padding: 10px 10px 10px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
  color: rgb(82, 82, 82) !important;
  font-weight: lighter;
}

.category-selector:checked + label {
  color: $warning !important;
  font-weight: bold;
  border-color: $warning;
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  border-radius: 50rem;
  padding: 0.1rem 3rem;
  color: rgb(82, 82, 82);
  background-color: white;
  border: 1px solid $warning;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: $warning;
  color: white;
}
