.search{
  float: right;
}
.list{
  width: 350px;
  margin-left: 16px;
  margin-right: 60px;
}
.notificationsearch{
  align-items: center;
  margin-bottom: 8px;
  background: white;
  border: 1px solid rgb(235,235,235);
  border-color: lightgray;
  border-radius: 5px;
}
#name-search{
  font-size: 14px;
  margin-left: 20px;
}
.searchbutton{
  height: 40px;
}
