
  .bg-dark {
    background-color: black;
    border-radius: 25px;
  }

  .text-white {
    color: white;
  }
  .card{
    border-radius: 25px;
  }

  .avatar{
    height: 40px;
    width: 40px;
  }
  .card-text{
    width: fit-content;
  }

